/****** PLACE YOUR CUSTOM STYLES HERE ******/

/*h1,h2,h3,h4,h5,h6, section p, section span{ font-family: 'Avenir Next', 'Roboto', 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; }*/

section.cover .logo {
  position: relative;
  width: 350px;
  height: auto;
}

.muli-regular {
  font-family: 'Muli';
  font-weight: 400;
}

.brand {
  padding-top: 20px;
}

h3.brand {
  color: #8f2e3e;
}

.btn-teal {
  border-color: #5fc6c1;
  color: #5fc6c1 !important;
}

.btn-teal:hover {
  background-color: #5fc6c1 !important;
  color: white !important;
}

.btn-purple {
  border-color: #8da1cd !important;
  color: #8da1cd !important;
}

.btn-purple:hover {
  background-color: #8da1cd !important;
  color: white !important;
}

.btn-purple-filled {
  border-color: #8da1cd !important;
  color: white !important;
}

.btn-purple-filled:hover {
  background-color: #8da1cd !important;
  color: white !important;
}

.lead {
  font-family: 'Open Sans';
  color: #8f2e3e;
}

.lead-white {
  font-family: 'Open Sans';
  color: white !important;
}

.bg-dark .lead {
  /* color: white; */
  color: #293247;
}

.content p {
  font-size: 16px;
  font-family: 'Open Sans';
  color: #7f84b9;
}

.bg-dark .content p {
  /* color: white; */
  color: #293247;
}

.right p {
  font-size: 16px;
  font-family: 'Open Sans';
}

.title h4 {
  color: #8f2e3e !important;
}

.buttons {
  margin-top: 10px;
}

.btn {
  border-radius: 5px;
  /*margin: 10px auto;*/
}

.btn-filled {
  background-color: #8f2e3e !important;
  border-color: #8f2e3e !important;
}


.image-bg .btn.btn-filled, .image-bg .btn-filled:visited {
  border-color: #8f2e3e !important;
  color: white;
}

.acm, .social_info {
  padding-top: 25px;
  color: #b8a0c8;
}

.social_info i {
  font-size: 24px;
}

.social_icon {
  margin-right: 20px;
  color: #b8a0c8;
}

.numbers-row {
  margin-top: 30px;
}

.numbers-row h1, h2, h3, h4, h5, h6 {
  color: #8f2e3e;
}

.v-align {
  position: relative !important;
  transform: translate3d(0, -50%, 0) !important;
  -webkit-transform: translate3d(0, -50%, 0) !important;
  top: 50% !important;
  z-index: 2 !important;
}

.text-move-down {
  padding: 25px 0px 0px 0px;
}

#map-box {
  height: 500px;
}

/**
 * HackUTD Colors
 */

.hackutd-navy {
  color: #293247 !important;
}

.hackutd-navy-bg {
  background-color: #293247 !important;
}

.hackutd-blue {
  color: #8f2e3e !important;
}

.hackutd-blue-bg {
  background-color: #b8a0c8 !important;
}

.hackutd-red {
  color: #8f2e3e !important;
}

.hackutd-red-bg {
  background-color: #8f2e3e !important;
}

.white-t {
  font-family: 'Open Sans';
  color: white;
}

.white-texts {
  color: white !important;
}

.hackutd-off-white {
  color: #f2bdd0 !important;
}

.hackutd-off-white-bg {
  background-color: #f2bdd0 !important;
}

.hackutd-baby-blue-bg {
  background-color: #f1f3fd;
}

.hackutd-teal {
  color: #5fc6c1 !important;
}

.hackutd-teal-bg {
  background-color: #5fc6c1 !important;
}

.smoke-bg {
  background-color: whitesmoke !important;
}

.white-bg {
  background-color: white !important;
}

.tracks-description {
  margin-top: -25px !important;
  margin-bottom: 50px;
  display: block;
}

.cta-head {
  font-family: 'Open Sans';
  font-weight: 300;
}

.cta-subhead {
  font-size: 20px !important;
  font-weight: 300 !important;
}

.text-right-desktop {
  text-align: right;
}

.text-left-desktop {
  text-align: left;
}

.tracks-icon {
  position: relative;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.black-outline {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tracks-text {
  display: block;
  font-size: 24px;
  text-align: center;
  margin-bottom: 45px;
}

.teams-text {
  font-size: 24px;
}

.accordion-2 .title::before {
  content: "\e61a" !important;
  font-family: "themify";
}

.accordion-2 .active .title::before {
  content: "\e622" !important;
  font-family: "themify";
}

.accordion-2 .title h4 {
  display: inline;
}

.image-square {
  background-color: whitesmoke;
}

.sponsor-buttons {
  margin-top: 35px;
}

#particles-js {
  width: 100%;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: #f2bdd0 !important;
}

/* #particles-live-js {
  width: 100%;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: #ffff48;
}

#particles-teams-js {
  width: 100%;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: #48ffff;
} */

#particles-info-js {
  width: 100%;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: #7f84b9 !important;
}

.main-content {
  z-index: 999 !important;
}

/* SCHEDULE */

.schedule {
  padding-top: 120px;
  padding-bottom: 150px;
}

.schedule .row {
  margin-top: 50px;
}

.schedule .row:first-child {
  margin-top: 0;
}

.schedule-row {
  vertical-align: baseline;
}

.schedule-detail {
  font-size: 24px;
}

.schedule-title {
  margin-top: 0px;
  font-family: 'Open Sans';
  font-size: 24px;
}

.schedule-subtitle {
  font-family: 'Open Sans';
  color: gray;
  font-weight: 400;
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 15px;
}

.schedule-table {
  font-size: 24px;
  padding-left: 20px;
  color: white;
}

.time {
  text-align: right;
  padding-right: 35px;
  padding-bottom: 20px;


/* END SCHEDULE */

@media all and (max-width: 767px) {
  .cover.fullscreen.image-slider {
    padding: 80px 0;
  }

  .cover.fullscreen {
    height: 100vh;
  }

  .footer-text {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }

  .text-right-desktop {
    text-align: center !important;
  }

  .text-left-desktop {
    text-align: center !important;
  }
}

@media all and (max-width: 463px) {
  .btn {
    margin: 10px auto;
  }

  .buttons {
    margin-top: 0;
  }
  
  .brand {
    font-size: 20px;
  }

  section.cover .logo {
    width: 250px;
    height: auto;
  }

  .icon-sm {
    font-size: 24px;
  }

  .lead {
    font-size: 14px !important;
  }
}